/* *{
    padding: 0;
    margin: 0;
}
body::-webkit-scrollbar{
   display: none;
}
.empty-top{
    height: 3rem !important;
}
.main-container{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.sub-container{
    background: #b5d6e7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.main-container{
    position: relative;
    height: 100vh;
 }

.sub-container{
    background: #b5d6e7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
/* 
.sub-container{
    background: #b5d6e7;
   width: 20em;
   height: 30em;
   padding: 2em;
   position: absolute;
   margin-top: -25px;
   margin-left: -400px;
   top: 50%;
   left: 52%;
   transform: translate(-50%, -50%);
}

.empty-top{
    height: 1em !important;
} */

/* New styles */

*{
    padding: 0;
    margin: 0;
}
.empty-top{
    height: 1rem !important;
}

.bottom-text{
    font-size: x-small;
}

p{
    font-size: 70%;
}

.container-fluid{
    height: 100vh !important;
}
.main-container{
    overflow: hidden;
   background: #b5d6e7; 
}